.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

body,
.btn{
	line-height: 1.42857143;
}

.btn{
	font-size:0.875rem;
}

html,body{
	height:100%;
}

p,ul,a,.btn,span,input,select,textarea,label, table, blockquote, small, .cart-item .total, .cart-info h4, .order-name h3, .faq-block .card .faq-title, #coming-soon-page ul li, .form-profile-img .custom-file-label::after, .p-table-block.p-table-block-2 .p-table-price h2{
	font-family: 'Open Sans',sans-serif;
}

h1,h2,h3,h4,h5,input,select,textarea, #mySidenav #web-name h2 span, .header-logo h4 span, .header-log h4 a, .dish-list-text h4 a, #footer h3 span, .order-item-info h4 a, .user-profile-heading h3 span, #coming-soon-page h2 span, #coming-soon-page ul li span, .form-profile-img .custom-file-label, .sidenav-2-top li h4 span{
	font-family: 'Roboto Condensed', sans-serif;
}

.page-heading, .flexslider li h1, .page-cover h3{
	font-family: 'Great Vibes', cursive;
}

p,ul{
	line-height:1.5em;
	font-size:14px;
}

p{
	color:#737373;
	margin-bottom:10px;
}

ul{
	margin-bottom:0px;
}

.list-inline{
	margin-left:-5px;	
}

.list-inline-item:not(:last-child),
.list-inline-item{
    margin-right:0px;
	padding:0px 5px;
}

h1,h2,h3,h4,h5,h6{
	margin-top:0px;
    line-height: 1.1;
	margin-bottom:10px;
}

.h1,h1{
	font-size:36px
}

.h2,h2{
	font-size:30px
}

.h3,h3{
	font-size:24px
}

.h4,h4{
	font-size:18px
}

.h5,h5,.dropdown-menu{
	font-size:14px
}

.h6,h6{
	font-size:12px
}

hr{
	margin:20px 0px;	
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
}

.list-group-item.b3-list-group-item{
	border:0px;
	padding:0px;
}

.form-group{
	margin-bottom:15px;
}

.form-control,
select.form-control:not([size]):not([multiple]){
	height:34px;
	font-size:14px;
}

textarea.form-control{
	height:auto;
}

label{
	margin-bottom:5px;
}

a {
	 text-decoration: none ;
}

a:hover{
	text-decoration:none;
	cursor:pointer;
}
   
.page-heading{
	font-weight:bold;
	font-size:34px;
	color:#212121;
	text-align:center;
}

.page-heading-line{
	margin:8px auto 16px;
	width:40px;
	border-width:4px;
}

.page-heading-line.black-line{
	border-color:#212121;
}

.page-heading-line.white-line{
	border-color:white;
}

.innerpage-heading{
	margin-bottom:30px;
}

.innerpage-heading h3 {
	font-weight:bold;
}

.innerpage-heading p{
	font-size:13px;
}

.no-pad{
	padding:0px;
}

.no-pad-top{
	padding-top:0px !important;
}

.btn-orange:hover{
	opacity:0.9;
}

.btn-black,
.btn-black:focus{
	background:#212121;
}

.btn-black:hover{
	opacity:0.9;
}

.btn-radius{
	border-radius:30px;
}

.section-padding{
	padding:40px 0px;
	margin-bottom: 25px;
}

.innerpage-section-padding{
	padding:40px 0px 50px;
}

.canvas{
	position:relative;
}

.overlay-black{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.55);
	z-index:110;
	visibility:hidden;
	height:100vh;
min-height:100vh;
}

.black-overlay-7{
	background:rgba(0,0,0,0.8);
}

.map{
	width:100%;
	border:0px;
	margin-bottom:20px;
	height:200px;
}

.owl-carousel.owl-theme .owl-controls .owl-buttons div{
	opacity:1;
	padding:0px;
	margin:0px 10px;
	font-size:25px;
	background:transparent;
	color:#212121;
}

.mg-b-20{
	margin-bottom:20px;
}

.mg-b-30{
	margin-bottom:30px;
}

.mg-t-10{
	margin-top:10px;
}

.pd-t-b-30{
	padding-top:30px;
	padding-bottom:30px;
}

.page-heading.white-heading,
.btn-orange,
.btn-orange:hover,
.btn-black,
.btn-black:hover,
.btn-black:focus,
.fullscr-navigation #fullscr-close,
#mySidenav #sidenav-close,
#mySidenav #web-name ul li .fab:hover,
#main-menu .list-group > .list-group-item.active,
#main-menu .list-group > .list-group-item:focus,
#main-menu .list-group > .list-group-item.active:focus,
#main-menu .list-group > .list-group-item:hover,
.header .top-bar.black,
.header .top-bar .social-cart li a,
.header .fixed-header.transparent .header-logo h4,
.header .fixed-header.transparent .header-links li a,
.header .fixed-header.transparent .header-links li.shopping-cart .fa,
.header .header-links li.shopping-cart .cart-badge,
.flexslider li p,
#slider ul li .meta,
.cart-list li .total,
#banner-1,
#banner-2 p,
.service-block .fa,
.menu .nav-tabs li a.active,
.menu .dish-list:hover .btn,
.menu .dish-list:hover .btn .fa,
.menu.black-menu .dish-list-text .btn .fa,
.menu.black-menu .dish-list-text h4 a,
.menu.black-menu .owl-carousel.owl-theme .owl-controls div,
#testimonial.text-white .item .reviewer-text blockquote,
#testimonial.text-white .item .reviewer-text .blockquote-footer,
#newsletter p,
#newsletter form .input-group-append .btn:hover,
.page-cover h3,
.page-cover .breadcrumb li + li:before,
.page-cover .breadcrumb li a,
.page-cover .breadcrumb li.active,
.pages .pagination li:first-child a.page-link,
.pages .pagination li:last-child a.page-link,
.pages .pagination li.active a.page-link,
.pages .pagination li:hover a.page-link,
.form-page-connect-social li .btn,
.form-page-connect-social li .btn.any,
#filter-buttons button.active,
#user-profile-page .edit-link a span,
.order-list .cart-info h4 span,
.order-list .cart-info h4:before,
.order-list .cart-info h4:after,
#order-history-page .form-group select,
#order-history-page .form-group .fa,
#bakery-homepage #about-us p,
.white-menu .list-group > .list-group-item.active .sidebar-icon,
.white-menu .list-group > .list-group-item:hover .sidebar-icon,
.white-menu .list-group > .list-group-item:focus .sidebar-icon,
.full-page-content,
.faq-form .input-group-prepend .btn:hover,
.custom-tabs .nav-tabs li a.active,
.full-page-status #error-page h4{
	color:white;
}

#newsletter form .input-group-append .btn,
.white-menu .list-group > .list-group-item.active .sidebar-icon,
.p-table-block.p-table-block-2 .p-table-price h2{
	background:white;
}

#testimonial.text-white .owl-controls .owl-page span,
#services,
.footer-social li .fab:hover,
.p-table-block.p-table-block-2,
.custom-tabs .nav-tabs li a,
.review-block.review-block-2 .reviewer-text{
	background:#f2f2f2;
}

#footer,
.footer-social li .fab,
#footer .copyright,
#footer p,
#footer .footer-social-2 li .fab:hover,
.full-page-content .form-page-connect-social h4{
	color:#f2f2f2;
}

/* -----------------	------------------------------------
		Navigation & Sidebars
   ----------------------------------------------------- */

/************* FULLSCREEN NAV *************/

#fullscr-nav{
	overflow-Y:auto;
	overflow-X:hidden;
	background:linear-gradient(rgba(255, 255, 255,0.9), rgba(255, 255, 255,0.9)), url('../images/full-scr-nav-back.jpg') center center;
	background-size:cover;
}

.fullscr-navigation{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: -100%;
    right: 0;
    transition: 0.5s;
}

.fullscr-navigation #fullscr-close{
	margin:15px 0px;
	display:inline-block;
	padding:7px 25px 5px 20px;
	font-size:25px;
	border-radius:0px 30px 30px 0px;
	border:0px;
}

.fullscr-navigation ul{
	padding:10px 10px 15px;
	overflow:hidden;
}

.fullscr-navigation li{
	width:50%;
	float:left;
	margin:8px 0px;
	text-align:center;
	padding:0px 8px;
}

.fullscr-navigation li a{
	padding:15% 0%;
	display:block;
	text-decoration:none;
	border-bottom:1px solid;
	background:#ededed;
	color:#000;
}

.fullscr-navigation li .fullscr-nav-icon{
	display:block;
	font-size:30px;
	margin-bottom:10px;
}

/**************** MYSIDENAV ***************/

#mySidenav{
	overflow-Y:auto;
	overflow-X:hidden;
	width:260px;
	transition:.4s;
	background:#4598db;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    left:-120%;
    transition: 0.5s;
}

#mySidenav::-webkit-scrollbar{
    width: 0.5em;
	background:#f2f2f2;
}
 
#mySidenav::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#mySidenav::-webkit-scrollbar-thumb{
	background-color:#303030;
	outline: 1px solid slategrey;
}

#mySidenav #web-name{
	color:#212121;
	padding:30px 0px;
}

#mySidenav #web-name::after{
	background:#00579a;
	transform:rotate(43deg);
	position:absolute;
	content:'';
	display:block;
	height:45px;
	width:140px;
	top:-20px;
	right:-40px;
}

#mySidenav #web-name h2 .far{
	margin-bottom:10px;
}

#mySidenav #web-name h2{
	text-transform:uppercase;
	text-align:center;
	margin:0px;
	font-size:26px;
	font-weight:bold;
	position:relative;
	color:#fff;
}

#mySidenav #web-name ul{
	margin-top:20px;
}

#mySidenav #web-name ul li .fab{
	width:30px;
	height:30px;
	border-radius:100%;
	background:#ededed;
	padding-top:8px;
	color:#333;
	box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
}

#mySidenav #web-name ul li .fab:hover{
	background:#1b1819;
}

#mySidenav #sidenav-close{
	background:transparent;
	font-size: 30px;
	text-decoration:none;
	padding:0px;
	line-height:1.0em;
	border:0px;
}

#mySidenav .sidenav-closebtn {
	position:absolute;
	top:1px;
	right:9px;
	width:100%;
	text-align:right;
}

#mySidenav .list-group.panel{
	border:0px;
	box-shadow:none;
}

#mySidenav .list-group > .list-group-item{
    border-radius: 0px;
    border-right: 0px;
    border-color: #227dbb;
    border-left: 3px solid transparent;
    background: #4598db;
}

#mySidenav .list-group > .list-group-item.active{
	border-left:4px solid #303030;
}

#mySidenav .list-group > .list-group-item:last-child{
	margin-bottom:50px;
}

#mySidenav .list-group .list-group-item{
	font-size:14px;
	color:#fff;
	padding:10px 15px;
}

#mySidenav .list-group-item .sidebar-icon{
	width:18px;
	text-align:center;
	margin-right:20px;
	font-size:18px;
}

#mySidenav .list-group-item .arrow{
	margin:3px 0px 0px 5px;
	font-size:14px;
	float:right;
}

#mySidenav .list-group .sub-menu > .list-group-item{
	padding-left:55px;
	background:#e6e6e6;
	border-color:rgba(0,0,0,0.05);
	border-radius:0px;
}

#mySidenav .list-group .sub-menu > .list-group-item.active,
#mySidenav .list-group .sub-menu > .list-group-item:hover,
#mySidenav .list-group .sub-menu > .list-group-item:focus{
	background:#d9d9d9;	
	color:#303030;
}

#main-menu .list-group .sub-menu.mega-sub-menu > a{
	position:relative;
}

#main-menu .list-group .mega-sub-menu-links .list-group-item{
	padding-left:64px;
	font-size:14px;
	color:#666666;
}

#main-menu .list-group .sub-menu.mega-sub-menu > a:hover,
#main-menu .list-group .sub-menu.mega-sub-menu > a:focus,
#main-menu .list-group .sub-menu.mega-sub-menu > a.active{
	background:#cfcfcf;
}

#main-menu,
.white-menu{
	padding-bottom:50px;
	background-color: #4598db;
}

.to-left-toggle{
	left:0%;	
}

.to-right-toggle{
	right:0% !important;
}

.to-top-toggle{
	top:0% !important;
}

/**************** SIDENAV-2 ***************/

.sidenav-pane {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left:-120%;
    transition: 0.5s;
	overflow-Y:auto;
	overflow-X:hidden;
	width:260px;
	transition:.4s;
	background:white;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
	z-index:300;
}

.sidenav-2-top{
	padding:7px 10px 9px;
}

.sidenav-2-top li h4{
	text-transform:uppercase;
	font-weight:bold;
	color:#212121;
	font-size:21px;
	margin:5px 0px 0px;
}

.sidenav-2-top li h4 .far{
	margin-right:4px;
	font-size:19px;
	position:relative;
	top:-2px;
}

.sidenav-2-top li #sidenav-2-close{
	background:none;
	font-size:28px;
	padding:0px;
	line-height:1em;
}

.sidenav-2-user{
	padding:25px 0px;
	background:#f6f6f6;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
}

.sidenav-2-user img{
	max-height:120px;
	display:inline-block;
	border:4px dashed white;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	margin-bottom:10px;
}

.sidenav-2-user h3{
	margin-bottom:0px;
	font-size:21px;
	color:#1b1819;
}

.white-menu .list-group > .list-group-item{
	border-radius:0px;
	font-size:15px;
	color:#404040;
	padding:10px 15px;
	border-color:#f6f6f6;
}

.white-menu .list-group .list-group-item{
	border-radius:0px;
	font-size:15px;
	padding:10px 15px;
}

.white-menu .list-group > .list-group-item.active{
	background:none;
}

.white-menu .list-group > .list-group-item:last-child{
	margin-bottom:50px;
}

.white-menu .list-group-item .sidebar-icon{
	width:35px;
	height:35px;
	text-align:center;
	margin-right:18px;
	font-size:14px;
	background:#f6f6f6;
	border-radius:100%;
	padding-top:9px;
	color:#7f7f7f;
}

.white-menu .list-group-item .main-link-text{
	position:relative;
	top:1px;
}

.white-menu .list-group-item .arrow{
	margin:11px 0px 0px 5px;
	font-size:14px;
	float:right;
}

.white-menu .list-group .sub-menu > .list-group-item{
	padding-left:68px;
	border-color:rgba(0,0,0,0.05);
	color:#868686;
	position:relative;
}

.white-menu .list-group .sub-menu > .list-group-item:before{
	content:'';
	position:absolute;
	top:20px;
	left:30px;
	display:block;	
	height:5px;
	width:5px;
	border-radius:100%;
	background:#a6a6a6;
}

.white-menu .list-group .sub-menu > .list-group-item.active,
.white-menu .list-group .sub-menu > .list-group-item:hover,
.white-menu .list-group .sub-menu > .list-group-item:focus{
	background:#f6f6f6;	
	color:#464646;
}

.white-menu .list-group .sub-menu > .list-group-item .arrow{
	margin-top:5px;
}

.white-menu .list-group .mega-sub-menu-links > .list-group-item:before{
	display:none;	
}

.white-menu .list-group .mega-sub-menu-links .list-group-item{
	padding-left:75px;
	font-size:14px;
	color:#969696;
}

.white-menu .list-group .sub-menu.mega-sub-menu > a:hover,
.white-menu .list-group .sub-menu.mega-sub-menu > a:focus,
.white-menu .list-group .sub-menu.mega-sub-menu > a.active{
	background:#efefef;
}

.to-left-toggle{
	left:0%;	
}

/********** SHOPPING-CART-SIDEBAR *********/

#shopping-cart-sidebar{
	overflow-Y:auto;
	overflow-X:hidden;
	width:280px;
	transition:.4s;
	background:white;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.shc-sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    right:-150%;
    transition: all 0.5s;
	border-top:6px solid #212121;
	padding:20px 15px 15px;
}

.shc-sidebar .cart-info{
	margin:30px 0px 50px;
}

.cart-list li{
	margin-bottom:30px;
}

.cart-list li .cart-item{
	position:relative;
}

.cart-list li .item-img,
.cart-list li .item-text{
	display:inline-block;
}

.cart-list li .item-img{
	width:32%;
	text-align:right;
}

.cart-list li .item-img img{
	max-height:95px;
	display:inline-block;
	margin-top:-20px;
}

.cart-list li .item-text{
	width:65%;
	padding-right:6px;
}

.cart-list li .item-text h4{
	margin-top:0px;
}

.cart-list li .item-text h4 a{
	color:#333;
}

.cart-list li .item-text p{
	margin-bottom:0px;
	font-size:12px;
}

.cart-list li .item-text h4,
.cart-list li .item-text input{
	display:inline-block;
}

.cart-list li .item-text input{
	width:65px;
	font-size:18px;
	background:#f2f2f2;
	border-radius:0px;
}

.cart-list li .item-text h5{
	margin:15px 0px 15px;
	font-size:18px;
}

.cart-list li .item-close .btn{
	position:absolute;
	top:-5px;
	right:0px;
	background:transparent;
	box-shadow:none;
	color:#999999;
	padding:0px;
	font-size:20px;
}

.cart-list li .item-close .btn:hover{
	color:red;
}

.cart-list li .total{
	font-weight:bold;
	border-top:1px solid #f2f2f2;
	display:block;
	background:#212121;
	margin:10px 0px 0px 0px;
	padding:8px 10px;
	font-size:16px;
	border-radius:15px 15px 0px 0px;
}

.cart-info{
	margin-top:20px;
}

.cart-info h4{
	font-weight:bold;
}

.cart-info .btn{
	margin-top:15px;
}

/********** USER-PROFILE-SIDEBAR **********/

#user-profile-sidebar{
	overflow-Y:auto;
	overflow-X:hidden;
	width:280px;
	transition:.4s;
	background:#1b1819;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.user-prf-sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    right:-150%;
    transition: all 0.5s;
}

.user-prf-sidebar .user-prf-sidebar-img .overlay{
	padding:25px 0px;
}

.user-prf-sidebar .user-prf-sidebar-img img{
	max-height:120px;
	display:inline-block;
	border:4px dashed white;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	margin-bottom:10px;
}

.user-prf-sidebar .user-prf-sidebar-img h3{
	margin-bottom:0px;
	font-size:21px;
	color:#1b1819;
	font-weight:bold;
}

.user-prf-sidebar .user-prf-sidebar-links a{
	color:#f2f2f2;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(255,255,255,0.05);
	font-size:14px;
}

.user-prf-sidebar .user-prf-sidebar-links a .fa{
	width:20px;
	margin-right:10px;
}

/* -----------------------------------------------------
		Header
   ----------------------------------------------------- */

.header{
	height:52px;
}

.header.height-auto{
	height:auto;
}

.header .top-bar.black{
	background:#0d0d0d;
}

.header .top-bar{
	padding:7px 0px;
}

.header .top-bar .social-cart li{
	font-size:12px;
}

.header .top-bar .social-cart li a{
	font-size:12px;
}

.header .top-bar .social-cart li:last-child{
	float:right;	
}

.header .top-bar .social-cart li:last-child .fa{
	margin-left:8px;
}

.header .fixed-header{
	background:#00579a;
	box-shadow:0px 3px 6px rgba(0,0,0,0.2);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:15px 0px 4px;
	z-index:100;
}

.header .fixed-header.transparent{
	background:rgba(255,255,255,0.1);
}

.header .header-logo{
	float:left;
}

.header .header-logo.f-none{
	float:none;
}

.header .header-logo h4{
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	font-size:16px;
}

.header .header-logo h4 .far{
	margin-right:4px;
	font-size:19px;
	position:relative;
	top:-2px;
}

.header .header-links{
	float:right;
}

.header .header-links.f-none{
	float:none;
}

.header .header-links li{
	position:relative;
}

.header .header-links li a{
	color:#fff;
	font-size:17px;
}

.header .header-links li.shopping-cart .fa{
	margin-right:13px;
	color: #fff;
}

.header .header-links li.shopping-cart .cart-badge{
	position:absolute;
	top:-7px;
	right:2px;
	min-height:20px;
	min-width:20px;
	border-radius:100%;
	background:#212121;
	text-align:center;
	font-size:11px;
}

.header .nav-bar{
	padding:17px 0px 14px;
	overflow:hidden;
}

.header .nav-bar .header-logo h4{
	margin-bottom:0px;
}


/* -----------------------------------------------------
		About Us
   ----------------------------------------------------- */

#about-us .page-heading-line + img{
	margin-top:15px;
}

#about-us img{
	display:inline-block;
}

#about-us img + p{
	margin-top:15px;
}


/* -----------------------------------------------------
		Menu
   ----------------------------------------------------- */

.menu .nav-tabs{
	text-align:center;
	margin-top:25px;
	border-top:2px solid #4d4d4d;
	border-bottom:2px solid #4d4d4d;
}

.menu .nav-tabs li{
	margin-bottom:0px;
	margin:0px 3px;
}

.menu .nav-tabs li a{
	color:#4d4d4d;
	border:0px;
	background:transparent;
	border-radius:0px;
	padding:10px 15px;
}

.menu .nav-tabs li a.active{
	font-weight:bold;
	border:0px;
}

.menu .tab-content li{
	margin:20px 0px 5px;
}

.menu .owl-menu .grid{
	margin:20px 0px 5px;
}

.menu .dish-list{
	padding:5px;
}

.menu .dish-list img{
	display:inline-block;
	padding:3px;
}

.menu .dish-list-text h4{
	margin:15px 0px 5px 0px;
}

.menu .dish-list-text h4 a{
	color:#212121;
}

.menu .dish-list-text h5{
	font-size:18px;
	margin-bottom:5px;
}

.menu .dish-list-text p{
	font-size:12px;
}

.menu .dish-list-text .btn{
	text-transform:uppercase;
	font-size:13px;
}

.menu .dish-list-text .btn .fa{
	margin-left:5px;
}

.menu .owl-carousel .owl-controls{
	margin-top:20px;
}

/*************** BLACK-MENU **************/

.menu.black-menu{
	background:linear-gradient(rgba(0, 0, 0,0.85), rgba(0, 0, 0,0.85)), url('../images/black-menu-back.jpg') center center;
	background-size:cover;
}



@media(min-width:992px){
	
	.menu.box-menu ul li{
		width:16.66666667%;
	}
}

/* -----------------------------------------------------
		Custom Form
   ----------------------------------------------------- */

.custom-form input,
.custom-form select,
.custom-form textarea{
	border-radius:0px;
	background:#f2f2f2;
	box-shadow:none;
	border:0px;
	border-left:4px solid #212121;
}

.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus{
	box-shadow:none;
	background:#f2f2f2;
}

.custom-form .input-group-text{
	border:0px;
	border-radius:0px;
	background:#f2f2f2;
	font-size:14px;
}

.custom-form label{
	font-weight:normal;
	font-size:13px;
	color:#737373;
	line-height:1.5em;
}

.custom-form .btn{
	padding:7px 35px;
	margin-top:10px;
}

/******** FULL-PAGE-FORM ********/

.full-page-body{
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

.full-page-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.full-page-wrapper .full-page-content{
    min-height: 400px;
	padding:70px 0px;
}

.full-page-content .innerpage-heading h3{
	text-transform:uppercase;
	font-size:29px;
	margin-top:25px;
}

.full-page-content p{
	color:#b0b0b0;
}

.full-page-form input{
	background:rgba(255,255,255,0.85);
	border-left:0px;
	height:38px;
}

.full-page-content .form-page-connect-social{
	border-top-color:#848484;
	border-top-style:dashed;	
}

.full-page-back-link .fa{	
	margin-right:10px;
}

.full-page-status #error-page h2{
	border-top:1px solid;
	border-bottom:1px solid;	
}

.full-page-status #error-page h2:before,
.full-page-status #error-page h2:after{
	display:none;	
}

.full-page-status #error-page .btn{
	padding:10px 30px;
}


@media (min-width: 992px){
	
    #masonry{
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media(max-width: 991px){
	
    #masonry{
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


/************** ERROR-PAGE **************/

#error-page h2{
	font-size:100px;
	font-weight:bold;
	position:relative;
	display:inline-block;
	padding:0px 8px;
	margin-bottom:25px;
}

#error-page h2:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:69%;
}

#error-page h2:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:79%;
	height:1px;
}

.h2-shape:before{
	content:'';
	position:absolute;
	right:0px;
	bottom:0px;
	width:1px;
	height:69%;
}

.h2-shape:after{
	content:'';
	position:absolute;
	right:0px;
	bottom:0px;
	width:79%;
	height:1px;
}
	
#error-page h4{
	color:#1b1819;
	font-size:27px;
}

#error-page .btn{
	margin-top:15px;
	font-size:16px;
	padding:7px 24px;
}


/* -----------------------------------------------------
		Contact Pages
   ----------------------------------------------------- */
   
.contact-block-2{
	overflow:hidden;
	margin-bottom:20px;	
	border-bottom:1px solid #efefef;
}

.contact-block-2:last-child{
	border-bottom:0px;	
}

.contact-block-2 .fa{
	font-size:21px;
	margin-right:12px;
}

.contact-block-2{
	padding-bottom:20px;
}

.contact-block-2 h4{
	font-size:19px;
}

.contact-block-2 p{
	margin-bottom:0px;
	padding:0px 38px;
}

div.scrollmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}
#global .cm-container-white {
    background-color: #4598db;
    padding: 10px;
}
.cm-container-white h2 {
    text-align: center;
    color: #fff;
    margin-top: 0px;
    font-size:16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.scrollmenu ul {
    list-style: none;
    padding-left: 6px;
    margin-bottom: 0px;
    padding-right: 6px;
    text-align: center;
}
.scrollmenu ul li {
    display: inline-block;
}
div.scrollmenu a {
	display: inline-grid;
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 9px 0px 9px;
}
.cm-footer {
    padding: 0 10px;
}
.cm-footer div.scrollmenu {
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
}
.cm-footer div.scrollmenu a {
    padding: 10px 10px 3px 10px;
    display: inline-grid;
    color: #333;
    font-size: 10px;
}
.scrollmenu i {
    font-size: 18px;
}
.cm-footer {
    background: #ffffff;
    color: #fff;
    line-height: 25px;
    border-top: 1px solid #d8d8d8;
    position: fixed;
	bottom: 0px;
	width:100%;
	height: 55px;
}
.login-center{
	overflow-Y:auto;
	overflow-X:hidden;
	background:linear-gradient(rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.7)), url('/images/bg-img.jpg') center center;
	width: 100%;
	height:85vh;
	background-size:cover;

}
#mySidenav div#web-name {
    background-color: #00579a;
}
.header-links li.list-inline-item.shopping-cart span.cart-badge {
    background-color: red;
}

.dashboard-center{
	overflow-Y:auto;
	overflow-X:hidden;
	background:linear-gradient(rgba(255, 255, 255,0.9), rgba(255, 255, 255,0.9)), url('/images/white-paper.jpg') center center;
	width: 100%;
	height:85vh;
	background-size:cover;

}